@tailwind base;

@layer base {
  /* CSS: Tailwind preflight css */

  ul,
  h1,
  h2,
  h3,
  p {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  ul,
  h3,
  p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  ul {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 2rem;
  }
  h1 {
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
  }
  h3 {
    font-size: 1.17rem;
    font-weight: 600;
  }
  p {
    display: block;
  }
  img,
  svg {
    display: inherit;
  }

  /* CSS: Anchor link */

  .anchor {
    opacity: 0;
    font-size: inherit;
  }
  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    opacity: 1;
  }

  .code-img {
    width: 45rem;
  }

  .code-img1 {
    width: 37rem;
  }

  /* CSS: Markdown */

  article a {
    color: #35acf1;
  }
  article h1 {
    font-weight: bold;
    font-family: system-ui;
    margin-top: 0.125rem;
    border-bottom: 1px solid #383838;
  }
  article h2 {
    font-weight: bold;
    font-family: system-ui;
    margin-top: 0.125rem;
    border-bottom: 1px solid #383838;
  }
  pre {
    background-color: #0f1624;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
  }
  blockquote {
    padding: 0 1rem;
    border-left: 0.25rem solid black;
  }
  blockquote p {
    margin: 0px;
  }
  blockquote {
    border-left: 0.25rem solid white;
  }
  table {
    border-collapse: collapse;
  }
  tr {
    border: solid 1px black;
  }
  tr {
    border: solid 1px white;
  }
  td {
    border: solid 1px black;
  }
  td {
    border: solid 1px white;
  }
  th {
    border: solid 1px black;
  }
  th {
    border: solid 1px white;
  }

  /* CSS: CUSTOM SCROLLBAR */

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #191919;
  }
  ::-webkit-scrollbar-thumb {
    background: #252525;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #303030;
  }
}

@tailwind components;
@tailwind utilities;
