@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Oleo+Script&family=Fira+Code&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.code-img {
		width: 45rem;
	}

	.code-img1 {
		width: 37rem;
	}

	/* CSS: CUSTOM SCROLLBAR */

	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-track {
		background: #191919;
	}
	::-webkit-scrollbar-thumb {
		background: #252525;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #303030;
	}
}
